body,
html {
  margin: 0;
  padding: 0;
}

.gameTitle {
  color: darkseagreen;
  font-size: xx-large;
  text-align: center;
  padding: 15px 10px 15px 10px;
  display: block;
  margin: auto;
}

img {
  border: 5px solid black;
  border-radius: 10px;
  display: block;
  margin: auto;
}

a {
  display: block;
  margin: auto;
}

button {
  width: 100px;
  height: 50px;
}

.instructions {
  text-align: center;
}

#para1 {
}

#para2 {
}

#para3 {
}
