body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: darkcyan;
}

#arena {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  background-color: rgb(250, 199, 199);
}

.outerBorder {
  border: black solid 10px;
  border-radius: 15px;
}

.middleBorder {
  border: grey solid 10px;
  border-radius: 5px;
}

.innerBorder {
  border: black solid 10px;
  border-radius: 1px;
}

#instructions {
  position: absolute;
  top: 60%;
  color: black;
  width: 400px;
  text-align: center;
  margin-top: 50px;
  margin-right: 200px;
}

.instructions1 {
  text-align: center;
  color: white;
  width: 550px;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#score {
  display: flex;
  border: 5px dotted red;
  border-radius: 40px;
  width: 80px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: white;
}

#highScore {
  display: flex;
  border-radius: 40px;
  width: 80px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: gold;
}

.apple {
  background-color: greenyellow;
  border: darkgreen 5px solid;
}

#logo {
  position: absolute;
  margin-right: 200px;
  width: 350px;
}

.starterPage {
  flex-direction: column;
  background-color: darkcyan;
  padding-bottom: 200px;
}

.gameTitle {
  color: white;
  font-size: 50px;
}

img {
  border: 5px solid black;
  border-radius: 10px;
  display: block;
}

button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  display: block;
  margin-left: 50px;
}

.gamePlay {
  background-color: darkcyan;
  height: 100vh;
}

.snake {
  background-color: rgb(228, 50, 255);
  border: rgb(0, 255, 123) 2px solid;
}
.apple {
  background-color: greenyellow;
  border: darkgreen 5px solid;
}

.outerboard {
  padding: 20px;
}

.boardborder {
  border: black solid 10px;
  border-radius: 15px;
}
.innerborder {
  border: grey solid 10px;
  border-radius: 5px;
}
.mainboard {
  border: black solid 10px;
  border-radius: 1px;
}

#start {
  background-color: darkgreen;
  color: wheat;
}

.gameplaybuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

#restart {
  background-color: rgb(7, 120, 101);
  color: yellow;
}

#return {
  background-color: maroon;
  color: yellow;
}

#para1 {
  padding-top: 20px;
}

#para2 {
  padding-top: 20px;
}

#para3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
